
:root, html[data-theme='light'], .light-theme {

    /** Color Utilities **/
    --color_big_step: 38;
    --color_small_step: calc(48 - var(--color_big_step));
    --almost_white_bright: 98%;
    --almost_black_dark: calc(100 - var(--almost_white_bright));

    /** Color Elements */
    --color-primary-hue: 120;
    --color-secondary-hue: calc(var(--color-primary-hue) + var(--color_big_step) + var(--color_big_step));
    --color-tertiary-hue: calc(var(--color-secondary-hue) + var(--color_big_step) + var(--color_big_step));
    --primary_bright: 22%;
    --container_brightness: calc(100% - var(--primary_bright));

    --color-primary-saturation: 100%;
    --color-primary-light: 22%;
    --color_primary_alpha: 1;

    --mono_saturation: 0%;


    /** Primary  */
    --color-primary: hsla(var(--color-primary-hue), 100%, var(--primary_bright), 1);
    --color-on-primary: hsla(var(--color-primary-hue), 100%, 98%, 1);
    --color-primary-container: hsla(calc(var(--color-primary-hue) - var(--color_small_step)), 100%, var(--primary_bright), 1);
    --color-on-primary-container: hsla(calc(var(--color-primary-hue) - var(--color_small_step) - var(--color_small_step)), 100%, var(--container_brightness), 1);

    /** Primary MONO Set Monochrome by reducing saturation to 0 */
    --color-primary-mono: hsl(var(--color-primary-hue), 0%, var(--color-primary-light));
    --color-on-primary-mono: hsl(0, 0%, 100%);
    --color-primary-container-mono: hsl(112, 0%, 69%);
    --color-on-primary-containe-monor: hsl(120, 0%, 7%);

    /** Secondary */
    /** Primary  */
    --color-secondary: hsla(var(--color-secondary-hue), 100%, var(--primary_bright), 1);
    --color-on-secondary: hsla(var(--color-secondary-hue), 100%, 98%, 1);
    --color-secondary-container: hsla(calc(var(--color-secondary-hue) - var(--color_small_step)), 100%, var(--primary_bright), 1);
    --color-on-secondary-container: hsla(calc(var(--color-secondary-hue) - var(--color_small_step) - var(--color_small_step)), 100%, var(--container_brightness), 1);

    /** Tertiary
    --color-tertiary:  hsla(200, 100%, 22%, 1);
    --color-on-tertiary: #ffffff;
    --color-tertiary-container: #bcebee;
    --color-on-tertiary-container: #002022;
    /** */

    /** Secondary */
    /** Primary  */
    --color-tertiary: hsla(var(--color-tertiary-hue), 100%, var(--primary_bright), 1);
    --color-on-tertiary: hsla(var(--color-tertiary-hue), 100%, 98%, 1);
    --color-tertiary-container: hsla(calc(var(--color-tertiary-hue) - var(--color_small_step)), 100%, var(--primary_bright), 1);
    --color-on-tertiary-container: hsla(calc(var(--color-tertiary-hue) - var(--color_small_step) - var(--color_small_step)), 100%, var(--container_brightness), 1);


    /** Mono **/
    /** Primary  */
    --color-primary-mono: hsla(var(--color-primary-hue), var(--mono_saturation), var(--primary_bright), 1);
    --color-on-primary-mono: hsla(var(--color-primary-hue), var(--mono_saturation), 98%, 1);
    --color-primary-container-mono: hsla(calc(var(--color-primary-hue) - var(--color_small_step)), var(--mono_saturation), var(--primary_bright), 1);
    --color-on-primary-container-mono: hsla(calc(var(--color-primary-hue) - var(--color_small_step) - var(--color_small_step)), var(--mono_saturation), var(--container_brightness), 1);


    /** Semantec Colors Inspired by Adobe Spectrum **/
    /** Negative **/
    --color-negative: #ba1a1a;
    --color-on-negative: #ffffff;
    --color-negative-container: #ffdad6;
    --color-on-negative-container: #410002;

    /** Positive **/
    --color-positive: #1ABA1DFF;
    --color-on-positive: #ffffff;
    --color-positive-container: #E6FFD6FF;
    --color-on-positive-container: #004109;

    /** Informative **/
    --color-informative: #1a27ba;
    --color-on-informative: #ffffff;
    --color-informative-container: #d6e0ff;
    --color-on-informative-container: #000b41;

    /** Notice **/
    --color-notice: #f67c2a;
    --color-on-notice: #ffffff;
    --color-notice-container: #ffebd6;
    --color-on-notice-container: #412700;


    --color-outline: #73796e;

    --color-background: #fefbff;
    --color-backround-dark: #1b1b1f;
    --color-on-background-: #1b1b1f;

    --color-surface: #fefbff;
    --color-on-surface: #1b1b1f;

    --color-surface-variant: #e1e2ec;
    --color-on-surface-variant: #44474f;

    --color-inverse-surface: #303033;
    --color-inverse-on-surface: #f2f0f4;
    --color_off_white: #ECFDFF;
}

:root, html[data-theme="dark"], .dark-theme{
  /** Dark Theme eventually will be here.*/
}


:root {

    /** Default Color Scheme **/
    --color-primary: #016e00;

    /* main colors */
    --color-primary: hsla(120, 100%, 37%, 1);



    /**
    --color-primary-light: color-mod(var(--color-primary) tint(15%));
    --color-primary-dark: color-mod(var(--color-primary) shade(15%));
    --color-primary-bg: color-mod(var(--color-primary) alpha(20%));
**/


/** shades - generated using chroma.js - 12 steps **/

    --black: #1d1d21;
    --gray-10: #2e2e31;
    --gray-6: #7b7a7d;
    --gray-4: #a5a5a6;
    --gray-3: #bbbbbc;
    --gray-2: #d1d0d2;
    --gray-1: #e8e7e8;
    --white: white;

    /* feedback */
    --color-success: #88c459;
    --color-error: #ba1a1a;
    --color-warning: #ffd137;
    --color-info: lightyellow;

    /* typography */
    --color-text: var(--gray-10);
    --color-text-heading: var(--black);
    --color-text-subtle: var(--gray-6);
    --color-link: var(--color-primary);
    --color-link-visited: var(--color-primary-dark);
    --color-mark: var(--color-accent-bg);
    --color-blockquote-border: var(--gray-2);

    /* border */
    --color-border: var(--gray-2);

    /* body */
    --color-body: var(--white);

    /* forms */
    --form-element-border: var(--color-border);
    --form-element-border-focus: var(--color-primary);
    --form-element-border-error: var(--color-error);
    --form-element-bg: var(--white);
    --form-text-placeholder: var(--gray-4);

    /* buttons */
    --btn-primary-bg: var(--color-primary);
    --btn-primary-hover: var(--color-primary-light);
    --btn-primary-active: var(--color-primary-dark);
    --btn-primary-label: var(--white);

    /* icons */
    --color-icon-primary: var(--gray-4);
    --color-icon-secondary: inherit;


    /** Default Colors (no theme */
    /** Primary  */
    --color_primary: var(--color-primary);


    /** Secondary */





    --color-error: #ba1a1a;
    --color-on-error: #ffffff;
    --color-error-container: #ffdad6;
    --color-on-error-container: #410002;

    --color-outline: #73796e;
    --color-background: #fefbff;
    --color-on-background-: #1b1b1f;
    --color-surface: #fefbff;
    --color-on-surface: #1b1b1f;
    --color-surface-variant: #e1e2ec;
    --color-on-surface-variant: #44474f;
    --color-inverse-surface: #303033;
    --color-inverse-on-surface: #f2f0f4;
}



/**
Light mode and dark mode.
https://dev.to/ynab/a-semantic-color-system-the-theory-hk7
**/

.swatch{
    width: 120px;
    height: 120px;
}

.color-primary-box{
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    padding: var(--padding);
    margin: var(--margin);
}

.color-on-primary-box{
    background-color: var(--color-on-primary);
    color: var(--color-primary);
    padding: var(--padding);
    margin: var(--margin);
}

.color-primary-container-box{
    background-color: var(--color-primary-container);
    padding: var(--padding);
    margin: var(--margin);
    color: var(--color-on-primary-container);
}

.color-on-primary-container-box{
    background-color: var(--color-on-primary-container);
    color: var(--color-primary-container);
}

/** Color Primary Mono */
.color-primary-mono-box{
    background-color: var(--color-primary-mono);
    color: var(--color-on-primary-mono);
    padding: var(--padding);
    margin: var(--margin);
}

.color-on-primary-mono-box{
    background-color: var(--color-on-primary-mono);
    color: var(--color-primary-mono);
    padding: var(--padding);
    margin: var(--margin);
}

.color-primary-container-mono-box{
    background-color: var(--color-primary-container-mono);
    padding: var(--padding);
    margin: var(--margin);
    color: var(--color-on-primary-container-mono);
}

.color-on-primary-container-mono-box{
    background-color: var(--color-on-primary-container-mono);
    color: var(--color-primary-container-mono);
}

/** Color Secondary */
.color-secondary-box{
    background-color: var(--color-secondary);
    color: var(--color-on-secondary);
    padding: var(--padding);
    margin: var(--margin);
}

.color-on-secondary-box{
    background-color: var(--color-on-secondary);
    color: var(--color-secondary);
    padding: var(--padding);
    margin: var(--margin);
}

.color-secondary-container-box{
    background-color: var(--color-secondary-container);
    padding: var(--padding);
    margin: var(--margin);
    color: var(--color-on-secondary-container);
}

.color-on-secondary-container-box{
    background-color: var(--color-on-secondary-container);
    color: var(--color-secondary-container);
}

/** Tertiary Color Box */
.color-tertiary-box{
    background-color: var(--color-tertiary);
    color: var(--color-on-tertiary);
    padding: var(--padding);
    margin: var(--margin);
}

.color-on-tertiary-box{
    background-color: var(--color-on-tertiary);
    color: var(--color-tertiary);
    padding: var(--padding);
    margin: var(--margin);
}

.color-tertiary-container-box{
    background-color: var(--color-tertiary-container);
    padding: var(--padding);
    margin: var(--margin);
    color: var(--color-on-tertiary-container);
}

.color-on-tertiary-container-box{
    background-color: var(--color-on-tertiary-container);
    color: var(--color-tertiary-container);
}

/** Negative Color Box **/
.color-negative-box{
    background-color: var(--color-negative);
    color: var(--color-on-negative);
    padding: var(--padding);
    margin: var(--margin);
}

.color-on-negative-box{
    background-color: var(--color-on-negative);
    color: var(--color-negative);
    padding: var(--padding);
    margin: var(--margin);
}

.color-negative-container-box{
    background-color: var(--color-negative-container);
    padding: var(--padding);
    margin: var(--margin);
    color: var(--color-on-negative-container);
}

.color-on-negative-container-box{
    background-color: var(--color-on-negative-container);
    color: var(--color-negative-container);
}



/** Positive Color Box **/
.color-positive-box{
    background-color: var(--color-positive);
    color: var(--color-on-positive);
    padding: var(--padding);
    margin: var(--margin);
}

.color-on-positive-box{
    background-color: var(--color-on-positive);
    color: var(--color-positive);
    padding: var(--padding);
    margin: var(--margin);
}

.color-positive-container-box{
    background-color: var(--color-positive-container);
    padding: var(--padding);
    margin: var(--margin);
    color: var(--color-on-positive-container);
}

.color-on-positive-container-box{
    background-color: var(--color-on-positive-container);
    color: var(--color-positive-container);
}


/** Informative Color Box **/
.color-informative-box{
    background-color: var(--color-informative);
    color: var(--color-on-informative);
    padding: var(--padding);
    margin: var(--margin);
}

.color-on-informative-box{
    background-color: var(--color-on-informative);
    color: var(--color-informative);
    padding: var(--padding);
    margin: var(--margin);
}

.color-informative-container-box{
    background-color: var(--color-informative-container);
    padding: var(--padding);
    margin: var(--margin);
    color: var(--color-on-informative-container);
}

.color-on-informative-container-box{
    background-color: var(--color-on-informative-container);
    color: var(--color-informative-container);
}


/** Notice Color Box **/
.color-notice-box{
    background-color: var(--color-notice);
    color: var(--color-on-notice);
    padding: var(--padding);
    margin: var(--margin);
}

.color-on-notice-box{
    background-color: var(--color-on-notice);
    color: var(--color-notice);
    padding: var(--padding);
    margin: var(--margin);
}

.color-notice-container-box{
    background-color: var(--color-notice-container);
    padding: var(--padding);
    margin: var(--margin);
    color: var(--color-on-notice-container);
}

.color-on-notice-container-box{
    background-color: var(--color-on-notice-container);
    color: var(--color-notice-container);
}


/** Surface Monochrome Colors*/
.color-surface-box{
    background-color: var(--color-surface);
    color: var(--color-on-surface);
    padding: var(--padding);
    margin: var(--margin);
}

.color-on-surface-box{
    background-color: var(--color-on-surface);
    color: var(--color-surface);
    padding: var(--padding);
    margin: var(--margin);
}

.color-surface-container-box{
    background-color: var(--color-surface-container);
    padding: var(--padding);
    margin: var(--margin);
    color: var(--color-on-surface-container);
}

.color-on-surface-container-box{
    background-color: var(--color-on-surface-container);
    color: var(--color-surface-container);
}


.content-main-wrapper{
    background-image: linear-gradient(to right bottom, #e0ff9b, #c9ffc1, #c2ffe1, #cefff7, #e7ffff, #ebfeff, #effcff, #f3fbff, #dffbff, #c7fcff, #adfdff, #92feff);
}


/** Monochrome */


--color-outline: #73796e;
--color-background: #fefbff;
--color-on-background-: #1b1b1f;
--color-surface: #fefbff;
--color-on-surface: #1b1b1f;
--color-surface-variant: #e1e2ec;
--color-on-surface-variant: #44474f;
--color-inverse-surface: #303033;
--color-inverse-on-surface: #f2f0f4;